@charset "utf-8";
/* CSS Document */
*{margin: 0px; padding: 0px; box-sizing: border-box;}

ul{
	list-style-type: none;
	display: inline;
}
ul li{
	padding: 2.5px 0px;
	
}
ul li a{
	text-decoration: none;
	color: #868686;
	font-size: 14px;
 	
}
ul li a:hover{
 	color: #000;
}

.box{
	background-color: #F8F8F8;
	border: 2px  #FF7495 solid;
	border-radius: 5px;
	padding: 10px;
	min-height: 200px;
	min-width: 120px;
}
.boxicon{
	width: 70px;
 	margin: 0px auto;
}
.boxheader{
	font-weight: bold;
	font-size: 13px;
	text-align: center;
	
}
.boxtxt{
	font-size: 14px;
	text-align: center;
	padding-top: 10px
}
.subboxheader{
	font-weight: bold;
}
.logophoto img{
	width: 250px;
	height: 70px;
}
.socialMicon ul {
	text-align: center;
	padding-right: 25%;
}
.socialMicon ul li{
	display: inline;
}
.socialMicon ul li img{
	width: 30px;
	height: 30px;
	margin-left: 5px;
	margin-top: 5px;
}
.texbox{
	padding: 50px 25%;
}
.texbox input{
	width: 350px;
	height: 35px;
	border: 2px  #FF7495 solid;
	border-radius: 5px;
	margin: 0px auto;
}

.sectionimage{
	position: fixed;
	z-index: -1;
	bottom: 0;
	right: 0;
	opacity: 0.1;
}
.sectionimage img{ 
	width: 350px;
	height: 500px;
}